---
layout: default
---

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- RPiAi -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4947875154879707"
     data-ad-slot="3387397253"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<div class="home">

  <ul class="post-list">
	{% assign counter = 0 %}
    {% for post in site.posts %}{% if post.landing %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.tags %}{% for tag in post.tags %} • <a href="{{ site.baseurl }}/tags/#{{ tag | replace:' ','+' }}" class="post-meta">{{ tag }}</a>{% endfor %}{% endif %}</span>
        <h2>
          <span class="post-heading"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> <a href="javascript:ReverseDisplay('item{{ counter }}')"><small>(gist)</small></a></span>
        </h2>
		<div id="item{{ counter }}"style="display:none;">
		<p>{{ post.description }}</p>
		</div>
      </li>
	{% capture counter %}{{ counter | plus: 1 }}{% endcapture %}
    {% endif %}{% endfor %}
  </ul>


</div>

<script type="text/javascript" language="JavaScript">
function ReverseDisplay(d) {
if(document.getElementById(d).style.display == "none") { document.getElementById(d).style.display = "block"; }
else { document.getElementById(d).style.display = "none"; }
}
</script>
